.container {
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  width: 30%;
  padding: 2%;
}

@media only screen and (max-width: 600px){
  .container {
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    width: 100%;
  }
} 

.infected {
  display: flex;
  justify-content: flex-start;
  margin:2% !important;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid 1px rgb(0, 0, 255);
  font-weight: bold;
  border-radius: 4px;
  line-height: 1.5;
  padding: 4px;
  width: 100%;
}

.recovered{ 
  display: flex;
  justify-content: flex-start;
  margin:2% !important;
  background-color: rgba(255, 255, 255, 0.75);
  border: solid 1px rgb(0, 255, 0);
  font-weight: bold;
  border-radius: 4px;
  line-height: 1.5;
  padding: 4px;
  width: 100%;

}

.deaths{
  display: flex;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.75);
  margin:2% !important;
  border: solid 1px red;
  font-weight: bold;
  border-radius: 4px;
  line-height: 1.5;
  padding: 4px;
  width: 100%;
}

.cardTitleInfected{
  font-size: 150%;
  color: rgb(0, 0, 255);
}

.cardTitleRecovered{
  font-size: 150%;
  color: rgb(0, 255, 0 );
}

.cardTitleDeaths{
  font-size: 150%;
  color: rgb(255, 0, 0);
}

@media only screen and (max-width: 770px) {
  .card {
    margin: 2% 0 !important;
  }
}